:root {
  --main-font-family: "Roboto", sans-serif;
  --main-color: #212121;
  --second-color: #757575;
  --active-color: #2196f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 0;
}

body {
  font-family: var(--main-font-family);
  color: var(--main-color);
}

ul {
  list-style-type: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1600px;
  padding-left: 215px;
  padding-right: 215px;
}

.active:focus,
.active:hover {
  color: var(--active-color);
}

/* HEADER */
.global-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.global-header .company-logo-header {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.174;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.78px;
}

.global-header .company-logo-header span {
  color: #2196f3;
}

.global-header .website-navigation {
  margin-left: 93px;
  margin-right: 385px;
}

.global-header .website-navigation ul {
  display: flex;
}

.global-header .website-navigation ul li:not(:last-child) {
  margin-right: 50px;
}

.global-header .contacts-list-header {
  display: flex;
}

.global-header .contacts-list-header li:first-child {
  margin-right: 40px;
}

.navigation-link,
.contact-link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  text-decoration: none;
  color: var(--main-color);
  letter-spacing: 0.28px;
}

.contact-link-header {
  color: var(--second-color);
}


/* MAIN: */

/* Hero-section */
.hero-section {
  background-color: #2f303a;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  text-align: center;
}

.hero-section .hero-header {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 2.64px;
  text-align: center;
  width: 696px;
  margin-bottom: 30px;
}

.hero-section .cta-button {
  background-color: #2196f3;
  color: #ffffff;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.96px;
  width: 200px;
  padding: 10px 19px;
  margin-bottom: 200px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}


/* Company-description-section (1)+(2) */

/* (1) company-qualities-container (1) */
.company-qualities-container {
  margin-bottom: 94px;
}

.company-qualities-container ul {
  display: flex;
}

.company-qualities-container ul li:not(:last-child) {
  margin-right: 30px;
}

.company-quality-card {
  width: 270px;
}

.company-quality-card .company-quality-card-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.42px;
  margin-bottom: 10px;
}

.company-quality-card .company-quality-card-description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.42px;
  color: var(--second-color);
}

/* (2) company-servicies-container (2) */
.company-servicies-container {
  text-align: center;
}

.company-servicies-container .company-services-header {
  font-size: 36px;
  line-height: 1.172;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.company-servicies-container ul {
  display: flex;
  justify-content: space-between;
}


/* Company-team-section */
.comapny-team-section {
  background-color: #f5f4fa;
  width: 1600px;
  text-align: center;
}

.comapny-team-container .company-team-header {
  font-size: 36px;
  line-height: 1.172;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.comapny-team-container ul {
  display: flex;
  justify-content: space-between;
}

.company-employee-card {
  background-color: #ffffff;
  padding-bottom: 30px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.company-employee-card .employee-name {
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.48px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.company-employee-card .employee-position {
  color: var(--second-color);
  line-height: 1.172;
  letter-spacing: 0.48px;
}


/* MAIN - PORTFOLIO: Portfolio-section (1)+(2)  */

/* (1) portfolio-filters (2) */
.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-filters ul {
  display: flex;
}

.portfolio-filters ul li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filters {
  margin-bottom: 50px;
}

.filter-button {
  background-color: #f5f4fa;
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.48px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* (2) portfolio-projects (2) */
.portfolio-projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-projects ul li:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.portfolio-project-card {
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
}

.portfolio-project-card .portfolio-project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-top: 20px;
  margin-bottom: 4px;
  text-align: left;
  margin-left: 24px;
}

.portfolio-project-card .portfolio-project-description {
  line-height: 1.875;
  letter-spacing: 0.48px;
  color: var(--second-color);
  text-align: left;
  margin-left: 24px;
}

/* FOOTER */
.global-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 1154px;
}

.global-footer .company-logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.174;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.78px;
}

.global-footer .company-logo-footer span {
  color: #2196f3;
}

.global-footer .company-address {
  margin-top: 28px;
}

.global-footer .company-address ul li:not(:last-child) {
  margin-bottom: 12px;
}

.company-address ul li .location-link-footer,
.company-address ul li .contact-link-footer {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.42px;
}

.location-link-footer {
  line-height: 1.172;
  color: #ffffff;
}

.contact-link-footer {
  line-height: 1.143;
  color: #ffffff99;
}